/* Color palette

Charcoal        : #454851
Russian Green   : #73956F
Dark See Green  : #7BAE7F
Turquoise Green : #95D7AE
Lavender Blush  : #FCEFF9
Light ... Blue  : #88CCF1

*/


body {
    background-color: #292a30;
    color: #FCEFF9;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1{
    color: #7BAE7F;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
p{
    margin: 10px;
}
a{
    color:#88CCF1
}
.topnav {
    background-color: #454851;
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    color: #FCEFF9;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 2px solid #454851;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.active {
    color: white;
    border-bottom-color: #7BAE7F;
  }
    .topnav a:hover {
    background-color: #FCEFF9;
    border-bottom-color: #FCEFF9;
    color: black;
  }