@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

/* Color palette

Charcoal        : #292A30
Russian Green   : #73956F
Dark See Green  : #7BAE7F
Turquoise Green : #95D7AE
Lavender Blush  : #FCEFF9
Light ... Blue  : #88CCF1

*/

body {
  background-color: #292A30;
  color: #FCEFF9;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

p {
  margin: 10px;
}

a {
  color:#88CCF1;
}

a:link {
  text-decoration: none;
}

.nav {
  -webkit-user-select: none; /* Removes selectable text on the nav */
  background-color:#27282c;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
  top: 0;
  border-bottom-color: #7BAE7F !important;
  font-family: Montserrat, sans-serif;
  box-shadow: 0px 1px 5px #1a1c20;
}

.nav__title {
  margin: 0px 10px;
  text-align: left;
  padding-left: 1%;
  color: #7BAE7F;
  font-size: 50px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.nav__item {
  display: inline-block;
  color: #FCEFF9;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.nav__item a {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  padding: 22px 18px;
  border-bottom: solid 3px #27282c;
  color: #7BAE7F;
  transition: border-color 250ms ease-in-out;
}

.nav__item a.active{
  color: white;
  border-color: #7BAE7F;
}

/*.nav__item a:after {
  display: block;
  content:'';
  border-bottom: solid 3px #7BAE7F;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0) scaleY(0.5);
}

.nav__item a:hover:after {
  transform: scaleX(1) scaleY(1);
}*/


.nav__item a:hover {
  background-color: #292A30;
  border-color: #7BAE7F;
  color: white;
}