/* Color palette

Charcoal        : #292A30
Russian Green   : #73956F
Dark See Green  : #7BAE7F
Turquoise Green : #95D7AE
Lavender Blush  : #FCEFF9
Light ... Blue  : #88CCF1

*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  background-color: #292A30;
  color: #FCEFF9;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  overflow-y: hidden;
}

#main {
  height: calc(100% - 180px);
  margin-top: 0px;
  padding: 2em;
}

/* ------------------------------------------------------------------------------------ */

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: 100%;
  padding: 4px;
  background-color: #1a1c20;
}

.maximized #titlebar {
  width: 100%;
}

#titlebar #drag-region {
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

/* ------------------------------------------------------------------------------------ */

p {
  margin: 10px;
}

a {
  color:#88CCF1;
}

a:link {
  text-decoration: none;
}

.nav {
  -webkit-user-select: none; /* Removes selectable text on the nav */
  background-color:#27282c;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
  top: 32px;
  border-bottom-color: #7BAE7F !important;
  font-family: Montserrat, sans-serif;
  box-shadow: 0px 1px 5px #1a1c20;
}

.nav__title {
  margin: 0px 10px;
  text-align: left;
  padding-left: 1%;
  color: #7BAE7F;
  font-size: 35px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.nav__item {
  display: inline-block;
  color: #FCEFF9;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.nav__item a {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  padding: 22px 18px;
  border-bottom: solid 3px #27282c;
  color: #7BAE7F;
  transition: border-color 250ms ease-in-out;
}

.nav__item a.active{
  color: white;
  border-color: #7BAE7F;
}

/*.nav__item a:after {
  display: block;
  content:'';
  border-bottom: solid 3px #7BAE7F;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0) scaleY(0.5);
}

.nav__item a:hover:after {
  transform: scaleX(1) scaleY(1);
}*/


.nav__item a:hover {
  background-color: #292A30;
  border-color: #7BAE7F;
  color: white;
}